CompileFlags:
  Remove: [-fsanitize=address, /fsanitize=address]
  CompilationDatabase: "build/"

---
If:
  PathMatch: src/android/.*
CompileFlags:
  CompilationDatabase: "build-android-x86_64-debug/"
