---
Checks: |
  bugprone-*, concurrency-*, cppcoreguidelines-*, misc-*, modernize-*, performance-*, portability-*, readability-*,
  -bugprone-reserved-identifier,
  -readability-else-after-return, -readability-function-cognitive-complexity,
  -misc-non-private-member-variables-in-classes, -misc-use-internal-linkage, -misc-no-recursion,
  -cppcoreguidelines-avoid-reference-coroutine-parameters, -cppcoreguidelines-avoid-capturing-lambda-coroutines,
  -cppcoreguidelines-avoid-const-or-ref-data-members,

HeaderFilterRegex: '.*'
