[submodule "libs/omni-fiber"]
	path = libs/omni-fiber
	url = https://github.com/kghost/omni-fiber
[submodule "libs/omni-timetravel"]
	path = libs/omni-timetravel
	url = https://github.com/kghost/omni-timetravel
