/.exrc

*~
*.swp
*.o
*.lo
*.la
.deps/
.libs/
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/INSTALL
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1

/debian/autoreconf.after
/debian/autoreconf.before
/debian/files
/debian/great-hole.debhelper.log
/debian/great-hole.substvars
/debian/great-hole/

/src/great-hole
