/debian/files
/debian/great-hole.debhelper.log
/debian/great-hole.substvars
/debian/great-hole/
/obj-x86_64-linux-gnu/
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/great-hole.postrm.debhelper

/.cache/
/openwrt-build/
/build/
/build-android/
/build-android-arm64-v8a/
/build-android-x86/
/build-android-x86_64/
