#!/usr/bin/make -f
# -*- makefile -*-

export DEB_CFLAGS_MAINT_APPEND = -ffile-prefix-map=$(CURDIR)=.
export DEB_CXXFLAGS_MAINT_APPEND = -ffile-prefix-map=$(CURDIR)=.

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++

override_dh_dwz: